.boton{
    margin-left: 30%;
    width: 100px;
    border-radius: 10%;
    margin-bottom: 10%;
}
.tamaño{
    height: 500px;
}
.mover{
    margin-top: 60%;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
}
.iframeMesas{
    background-color: white;
    border-radius: 25px;
    margin-top: 4%;
}


.IframeBebidas{
    margin-left: 164vh;
    background-color: red;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 100%;
    float: left;
}

.main-container{
    width: 100%;
    height: 80%;
}


.div-mitad{
    float: left;
}

.imgButtons{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}



