* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    overflow-y: hidden;
    height: 100vh;

}
#login{
    margin-top: 20vh;
    margin-left: 25%;
    border-radius: 25px;
    background-color: white;
    padding: 2vh;
    width: 40%;
}
